@media (max-width: 991px) {
	.navbar-default .container {
		width: 100%
	}
	.carousel-caption {
		top: 15%;
	}
	.carousel__title__1, .carousel__title__2, .carousel__title__3, .carousel__title__4, .carousel__title__5 {
		font-size: 3em
	}
	.carousel__text__1, .carousel__text__2, .carousel__text__3, .carousel__text__4, .carousel__text__5 {
		font-size: 1.2em
	}
	.best__selling, .what__they__said, .footer {
		width: 98%;
	}
	.footer .col-md-3 {
		width: calc(100% / 4);
		float: left;
	}
}
@media (max-width: 960px) {
	.logo__text {
		display: none;
	}
}
@media (max-width: 897px) {
	.item__card {
		height: 550px !important;
	}
	.customNavigation {
		display: none;
	}
}
@media (max-width: 840px) {
	.carousel__title__1, .carousel__title__2, .carousel__title__3, .carousel__title__4, .carousel__title__5 {
		font-size: 2.5em
	}
	.item__card {
		height: 480px !important;
	}
}
@media (max-width: 818px) {
	/*mobile navigation*/
	#bs-example-navbar-collapse-1, .navbar-collapse, .navbar-nav.navbar-right, .nav__utilities {
		display: none
	}
	.nav.navbar-nav.navbar-right.mobile__nav {
		display: block !important;
	}
	.mobile__buttom__nav {
		display: block !important;
	}
	.mobile__buttom__nav {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: white;
		height: 60px;
		z-index: 999;
		width: 100%;
		text-align: center;
		font-size: 1.5em;
		padding: 0;
	}
	.mobile__buttom__nav li {
		display: inline-block;
		width: calc(100% / 3);
		float: left;
		border-top: 1px solid #aaa;
		border-right: 1px solid #aaa
	}
	.mobile__buttom__nav li:last-child {
		border-right: none
	}
	.mobile__buttom__nav li a {
		display: inline-block;
		padding: 12px 0 6px 0 !important;
		opacity: 1
	}
	.cart__mobile {
		position: relative;
	}
	.bascket__items {
		right: 40%;
		top: 5%
	}
	/*carousel caption down*/
	.carousel-caption {
		position: relative;
		text-align: center;
		width: 100%;
		padding: 5px 15px;
		background: black;
		left: 0px;
		color: white !important;
		overflow: hidden;
	}
	.shirt__img__1, .shirt__img__2, .shirt__img__3, .shirt__img__4, .shirt__img__5 {
		top: 5%;
		transform: translateX(-180px);
	}
	.carousel__title__1, .carousel__title__2, .carousel__title__3, .carousel__title__4, .carousel__title__5 {
		text-align: center;
		color: white
	}
	.carousel__text__1, .carousel__text__2, .carousel__text__3, .carousel__text__4, .carousel__text__5 {
		text-align: center;
		color: white
	}
	.carousel__btn__1, .carousel__btn__2, .carousel__btn__3, .carousel__btn__4, .carousel__btn__5 {
		margin: 10px auto !important;
		color: white;
		border-color: white;
		float: none;
	}
	.carousel__btn__1:hover, .carousel__btn__2:hover, .carousel__btn__3:hover, .carousel__btn__4:hover, .carousel__btn__5:hover {
		color: black;
		background: white;
		border-color: white;
	}
	.carousel-control {
		top: -40%;
	}
}
@media (max-width: 767px) {
	#bs-example-navbar-collapse-1, .navbar-collapse, .navbar-nav.navbar-right, .nav__utilities, .navbar-toggle.collapsed {
		display: none
	}
	/*.nav.navbar-nav.navbar-right.mobile__nav {
		display: block !important;
		margin-top: -100px !important
	}*/
	.mobile__buttom__nav {
		display: block !important;
	}
	.small__mobile__nav {
		display: block !important;
		/*float: right;*/
		position: absolute;
		top: 18px;
		right: 15px;
	}
	.small__mobile__nav li {
		display: inline-block;
	}
	.small__mobile__nav li a {
		display: inline-block;
		font-size: 1.2em;
		color: #333;
		opacity: .8;
		font-family: 'Museo Slab 700';
		height: 60px;
		width: 120px
	}
}
@media (max-width: 770px) {
	.item__card {
		height: 430px !important;
	}
}
@media (max-width: 650px) {
	.item__card {
		height: 400px !important;
	}
}
@media (max-width: 607px) {
	.item__card {
		height: 660px !important;
	}
	.add__to__card {
		transform: translateY(-200px);
		opacity: 1;
		height: 70px;
		font-size: 1.5em
	}
	.item__card:hover .add__to__card {
		transform: translateY(-200px);
		opacity: 1;
		height: 70px;
		font-size: 1.5em
	}
	.add__to__fav, .share__it__btn {
		height: 70px;
		width: 70px
	}
	.add__to__cart {
		height: 70px;
		font-size: 1em
	}
	.footer .col-md-3 {
		width: calc(100% /2);
		margin-bottom: 30px;
	}
	.footer .col-md-3:nth-child(3n) {
		float: right;
	}
	.footer .col-md-3:nth-child(4n) {
		float: left;
	}
}
@media (max-width: 480px) {
	.small__mobile__nav li a {
		width: calc(280px / 3) !important
	}
	img.bg {
		height: 280px !important;
	}
	.shirt__img__1, .shirt__img__2, .shirt__img__3, .shirt__img__4, .shirt__img__5 {
		width: 90%;
		transform: translateX(10px);
	}
	.item__card {
		height: 550px !important
	}
}
@media (max-width: 431px) {
	.item__card {
		height: 500px !important
	}
	.add__to__cart {
		float: left;
		width: 165px;
		font-size: .9em;
		text-align: center;
		line-height: 3
	}
	.footer .col-md-3 {
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
}
@media (max-width: 430px) {
	.add__to__card {
		width: 90%
	}
	.add__to__fav, .share__it__btn {
		width: 60px !important
	}
	.add__to__cart {
		font-size: .7em;
		width: 60% !important;
		line-height: 4;
		text-align: center;
	}
}
@media (max-width: 410px) {
	.small__mobile__nav {
		display: block !important;
		position: relative;
		width: 100%;
		text-align: center;
		line-height: 2;
		padding-left: 0;
		right: 0;
	}
	.small__mobile__nav li {
		width: calc(90% / 3)
	}
	.small__mobile__nav a {
		width: calc(100% / 3)
	}
	.navbar-brand.main_logo {
		margin: auto;
		float: none;
		width: 100%;
		display: block;
		text-align: center;
		background: #00b2a6;
	}
	.navbar-brand.main_logo img {
		float: none;
	}
	.add__to__cart {
		width: 50% !important;
	}
}
@media (max-width: 372px) {
	.item__card {
		height: 420px !important
	}
}
@media (max-width: 357px) {
	.add__to__cart {
		width: 40% !important;
	}
	.item__card {
		height: 380px !important
	}
}